*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    height: 100vh;
}

.boxTitle{
    width: 50vw;
    text-align: left;
    padding-top: 40vh;
}

h1{
    margin-left: 20vw;
    font-size: 3.5em;
}

h2{
    margin-left: 20vw;
    font-size: 2.5em;
}

.boxTitle div{
    margin-top: 10vh;
}

.boxTitle a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 3%;
    background-color: blue;
    margin-left: 25vw;
}

.boxTitle a:hover{
    font-size: 1.5em;
    margin-left: 23vw;
}

.boxImg{
    width: 50vw;
}

.boxImg img{
    width: 40%;
    margin: 40vh 30%;
    border-radius: 100%;
}

.presentation{
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

h3{
    text-align: center;
    font-size: 2em;
    margin: 2%;
}

.skills{
    max-width: 1000px;
    margin: auto;
}

.skills p{
    font-weight: bolder;
    margin: 3% 5%;
}

.skills ul{
    display: flex;
    list-style: none;
    margin: 0% 4%;
}

.skills li{
    margin: 0% 2%;
    padding: 1.5%;
    border-radius: 30px;
    background-color: blue;
    color: white;
}

.project{
    max-width: 1000px;
    margin: 1% auto;
    background-color: rgb(44, 44, 44);
    padding: 1%;
}

.project h3{
    color: white;
}

.projectInfo{
    background-color: rgb(173, 154, 154);
    padding: 2%;
    margin: 3% 3%;
}

.TitlePoject{
    margin: 3% 5%;
    font-weight: bolder;
    font-size: 1.3em;
}

.project ul{
    margin: 1% 5%;
    list-style: none;
}

.skills2 ul{
    display: flex;
    list-style: none;
}

.skills2 p{
    margin: 0% 5%;
    font-weight: bold;
}

.skills2 li{
    margin: 0% 2%;
    padding: 1%;
    border-radius: 30px;
    background-color: blue;
    color: white;
}

footer{
    background-color: rgb(44, 44, 44);
    width: 100%;
    text-align: center;
    color: white;
    padding: 1% 0%;
}

footer .lien{
    padding: 2%;
    width: 300px;
    margin: auto;

}

footer a{
    font-size: 2em;
    color: white;
    padding: 2%;
    text-decoration: none;
}